
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Volkhov', serif;
}
ul li {
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    object-fit: cover;
}
p{
    color:#666;
    font-size: 16px;
    font-weight: 500;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    color:white;
    background:#FA7436;
    padding:13px 50px;
    border-radius: 5px;
    transition:0.4s;
  
}
.btn:hover{
    color:#FA7436;
    border:1px solid #FA7436;
    background:white;
 
}
.btn-1{
    font-size: 18px;
    font-weight: 500;
    color:#FA7436;
    border:1px solid #FA7436;
    padding:14px 28px;
    border-radius: 5px;
    transition:0.4s;
}
.btn-1:hover{
    color:white;
    background:#FA7436;

}

.section-title{
    max-width: 521px;
    width: 100%;
    margin:0 auto;
    text-align: center;
    margin-bottom:64px;
}
.section-title h2{
    color:#222;
}
.section-title h2 span{

    color:#FA7436;
}
.section-title p {
padding:24px 20px;
color:#666;
}


.element{
    position: absolute;
    top:0;
    right:80px;
}
/* header section */


.container{
  /* padding:0 375px;
  max-width:1920px;  */
    max-width:1170px;
    margin:0 auto; 
}
/* @media (max-width:1420px){
    .container{
        padding:0 125px;
          max-width:1420px;    
      }
}
@media (max-width:1200px){
    .container{
        padding:0 15px;
          max-width:1200px;    
      }
}
@media (max-width:992px){
    .container{
        padding:0 10px;
          max-width:992px;    
      }
} */

header .container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:32px 0;
    
}
header .container nav .logo a{
    color:#222222;
    font-size: 24px;
    line-height:24px;
    font-weight: 700;
}
header .container nav .logo a img{
margin-left:10px;
}
/* header .container nav .logo a img:hover{
    color:#FA7436;
    } */
header .container nav .menu{
    display: flex;
    column-gap:32px;
    align-items: center;
   
}
header .container nav .menu li a{
    color:#222222;
    transition:0.4s;
}
header .container nav .menu li:hover a{
    color:#FA7436;
}
.btn-container .logbtn{
    font-size: 16px;
    font-weight: 600;
    color:#FA7436;
    margin-right:56px;

}
header .container nav .icons{
    display: none;
}

@media (max-width:768px){
    header .container nav {
        flex-direction: column;
        row-gap: 50px;
       
    }
  
}
    @media (max-width:992px){
        .btn-container .logbtn{
            margin-right:10px; 
        }
    }



/* hero section */
.hero-section{
    width:100%;
    padding-bottom:300px;
    background:#edecec;
}
.hero-section .container{
    display: flex;
    justify-content: space-between;   
}

.hero-section .container .content{
  max-width:520px;
    margin-top:96px;
}
.hero-section .container .images-container{
    width:785px;
    position: relative;
    display: flex;
    justify-content:flex-end;
   
}
.hero-section .container .images-container .bg-top{
    width: 100%;
    height: 191px;
    position: absolute;
    top:0;
}
.hero-section .container .images-container .images{
    width: 500px;
}
.hero-section .container .images-container .images .pic{ 
    width: 450px;
    height: 585px;
    position: relative;
    z-index: 1;
}
.hero-section .container .images-container .images .pic img{
    width: 100%;
    position: absolute;
    right:0;
    bottom:0;
 
    display: inline-block;
}

.hero-section .container .images-container .content-1{   
    width: 150px;
    left:-75px;
    top:142px;  
}
.hero-section .container .images-container  i{
    color: #ff6906;
}
.hero-section .container .images-container .content-2{
    top:210px;
    right:0;
}
.hero-section .container .images-container .content-3{
    left:-18px;
    bottom:126px;
}
.hero-section .container .images-container .img-content{
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding:8px 15px;
    align-items: center;
    column-gap: 10px;
    background:white;
    border-radius:10px;
}
.hero-section .container .images-container .img-content h4{
font-size:16px;
color:#444;

}
.hero-section .container .images-container .img-content p{
    font-size:12px;
    color:#666;
    line-height:16px;
    }
.hero-section .container .content h2{
    width: 100%;
    font-size: 60px;
    line-height:70px;
    font-weight: 700;
    color:#222222;
}
.hero-section .container .content h2 span{
    color:#FA7436;
}
.hero-section .container .content p{
    font-size: 20px;
    color:#666666;
    margin:32px 0 64px 0;
}
@media (max-width:992px){
    .hero-section .container{
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    .hero-section .container .images-container{
        width:100%;
    }
    .hero-section .container .images-container .images{ 
    margin:0 auto;  
    }
    .hero-section .container .images-container .images .pic{
        margin:0 auto; 
    }
}
@media (max-width:768px){
    .hero-section .container .images-container{
        width:100%;
    }
    .hero-section .container .images-container .images{ 
   padding:0 30px;
         width:100%;   
    }
    .hero-section .container .images-container .images .pic{
        width:100%; 
    }
}



/* things-need */
.things-need{
    background:#F7F8FC;
    padding-top:120px;
    padding-bottom:120px;
    
}
.things-need .wraf{
    position: relative;
}

.things-need .wraf .box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}
.things-need .wraf .box-container .box{
    padding:40px;
    background:white;
    border-radius:8px;
}
.things-need .wraf .box-container .box .image{
    margin-bottom:48px;
}
.things-need .wraf .box-container .box h3{
    margin-bottom:16px;
    font-size: 24px;
    font-weight: 700;
    line-height:34px;

}
@media (max-width: 992px) {
    .things-need .wraf .box-container{      
    grid-template-columns: repeat(2, 1fr);      
     } 
}

@media (max-width:656px){
    .things-need .wraf .box-container{
        grid-template-columns: 1fr;
    }
}

/* Exclusive-deals */
.Exclusive-deals{
    padding-top:120px;
    padding-bottom:120px;
    background:#FEFCFB
}
.Exclusive-deals .box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
}
.Exclusive-deals .box-container .box img{
    width: 100%;
    border-radius: 8px;
}
.Exclusive-deals .box-container .box .content{
    padding:32px 16px;
}
.Exclusive-deals .box-container .box .top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.Exclusive-deals .box-container .box .top-content h3{
    font-size: 24px;
    line-height:26px;
    font-weight: 700;
    color:#222;
    }
.Exclusive-deals .box-container .box .top-content p .fa-solid{
    margin-right:8px;
color:rgb(241, 165, 13);
}
.Exclusive-deals .box-container .box .top-content p{
    font-size: 16px;
    line-height:20px;
    }
.Exclusive-deals .box-container .box .bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Exclusive-deals .box-container .box .bottom-content .icons{
color:#666;
}
.Exclusive-deals .box-container .box .bottom-content .icons .fa-solid{
    margin-right: 8px;
    }
.Exclusive-deals .box-container .box{
    border:1px solid #66666630;
    border-radius: 8px;
}
.Exclusive-deals .box-container .box .bottom-content .discount-price{
 text-decoration: line-through;
 margin-right:16px ;
}
.Exclusive-deals .box-container .box .bottom-content .main-price{
    background:#FFE7DB;
    line-height: 24px;
    font-size:16px;
    padding:2px 6px;
    border-radius:8px;
   }
@media (max-width: 992px) {
     
.Exclusive-deals .box-container {     
grid-template-columns: repeat(3, 1fr);      
 } 
 }
 @media (max-width: 768px) {  
.Exclusive-deals .box-container {     
    grid-template-columns: repeat(2, 1fr);          
     } 
}
 @media (max-width:656px){  
.Exclusive-deals .box-container{
     grid-template-columns: 1fr;
}
}


/* .vacation-plan */

.vacation-plan{
    padding-top:120px;
    padding-bottom:120px;
    background:#FEFCFB;
    position: relative;
}
.vacation-plan .container{
    position: relative;
}
.vacation-plan .container .element{
    position: absolute;
    top:0;
    right:188px;
    
}
.vacation-plan .box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}
.vacation-plan .box-container .box {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #66666630;
    border-radius: 8px;
}
.vacation-plan .box-container .box img{
    width: 100%;
    border-radius: 8px;
}
.vacation-plan .box-container .box .content{
    padding:32px 16px;
}
.vacation-plan .box-container .box .top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.vacation-plan .box-container .box .top-content h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color:#222222;
}
.vacation-plan .box-container .box .top-content p{
    font-size: 16px;
    line-height:32px;
    font-weight: 700;
    color:#FA7436;
    }
    .vacation-plan .box-container .box .bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vacation-plan .box-container .box .bottom-content .icons h4,
.vacation-plan .box-container .box .bottom-content .review span{
    font-size: 16px;
    line-height:24px;
    color:#666666;
}
.vacation-plan .box-container .box .bottom-content .icons .fa-solid{
    margin-right:8px;
    color:#FA7436;
}
.vacation-plan .box-container .box .bottom-content .review .fa-solid{
    margin-right:8px;
    color:rgb(241, 165, 13);
}

@media (max-width: 992px) {
     
.vacation-plan .box-container {        
    grid-template-columns: repeat(2, 1fr);
           
} 
.vacation-plan .container .element{
    top:40px;
    right:50px; 
}
}
@media (max-width:656px){
.vacation-plan .box-container{
    grid-template-columns: 1fr;
 }
.vacation-plan .container .element{
    top:10px;
    right:50%;
    transform: translate(50%);
            
} 
}

.about-us{
    background:#F7F8FC;  
    padding-top:120px;
    padding-bottom:120px;
}
.about-us .wraf{
    position: relative;  
    display: flex;
    justify-content: space-between;
}
.about-us .wraf .element{
    max-width: 168px;
    position: absolute;
    top:0;
    right:-56px;
     display: inline-block;
        
    }
.about-us .about-content{
    max-width: 394px;
    }
.about-us .wraf .clien-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
     max-width:658px;
 }
    .about-us .wraf .about-content h2{
        font-size: 48px;
        font-weight:700;
        line-height:54px;
        max-width: 417px;
        margin-bottom:24px;
    }
    .about-us .wraf  .about-content h2 span{
        color:#FA7436;
    }
    .about-us .wraf .about-content p{
        font-size: 16px;
        font-weight:400;
        line-height:32px;
       color:#666666;
    }

.about-us .clien-content .clien{
    padding:28px 64px 34px 34px;
    background: #ffffff;
    border-radius: 10px;
  
}
        
.about-us .clien-content .n-1{
    margin-top:34px;
    margin-left:34px;
    max-width: 541px;
    height:245px;
    position: relative;
    top:0;
    right:56px;
    z-index: 1;
}
.about-us .clien-content .n-2{
    max-width:512px;
    height: 232px;
    position: absolute;
    top:130px;
    right:0; 
    background:#F7F8FC;
    border:1px solid #8f8f8f2a;
    }
.about-us .clien-content .clien img{
        width:68px;
        position: absolute;
        top:-34px;
        left:-34px;
 
    }
.about-us .clien-content .clien p{
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 34px;
        color:#666666;
    }
.about-us .clien-content .clien h4{
        font-size: 18px;
        font-weight: 700;
        color:#222222;
    }
.about-us .clien-content .clien .locaton{
        margin-top: 5px;
        font-size: 14px;
        margin-bottom:0;
    }
 

@media (max-width: 992px){
.about-us .wraf{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 120px;          
        } 
.about-us .about-content{
            max-width: 100%;
           }
.about-us .clien-content{
        justify-content: center;
        align-items: center;
         width:100%;
     }
.about-us .clien-content .n-1{
        top:0;
        right:0;
        margin-bottom: 30px;
    }
            
.about-us .clien-content .n-2{
        position: relative;
        top:0;
        right:0;
    }

}
@media (max-width: 768px) {
    .about-us .wraf{
    flex-direction: column;
    align-items: center;
    row-gap: 120px;          
    }         
}
/* ////////////////////////////////////////////////// */